@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: 'very.light.gray';
    margin-top: 2rem;
  }
}

@layer components {
  .btn-primary {
    @apply bg-moderate.blue text-white font-bold py-2 px-4 rounded cursor-pointer hover:bg-light.grayish.blue;
  }

  .btn-secondary {
    @apply bg-gray-500 text-white font-bold py-2 px-4 rounded cursor-pointer hover:bg-light.gray;
  }

  .delete-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    background-color: transparent;
    color: #ed6368;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .delete-btn:hover {
    color: #ffb8bb;
  }

  .delete-btn:focus {
    outline: none;
  }

  .edit-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    background-color: transparent;
    color: #5357b6;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .edit-btn:hover {
    color: #c5c6ef;
  }

  .user-badge {
    background-color: #5357b6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.35rem;
  }
}
